{% extends 'base.html.twig' %}

{% block title %}GroPost - Un post de Groland{% endblock %}

{% block body %}

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h2 class="section-heading"> {{ post.title }} </h2>
                    <p> {{ post.content }} </p>
                    </br>
                    <p> Posté par {{ post.author }} le {{ post.published|date("d/m/Y") }} </p>

                </div>
            </div>
        </div>
    </article>

    <hr>

{% endblock %} 
