{% extends 'base.html.twig' %}

{% block title %}GroPost - Création d'un post pour Groland{% endblock %}

{% block body %}

    {% block header %}

       
    {% endblock %}


        <!-- ****** POST CREATION FORM STARTS ***** -->
       
        


                            <h2 class="post-headline">Here you can create you own post on this Blog. Fantastic isn't it?</h2>

                            <form action="{{ path('create') }}" method="POST">
                                Name: <br>
                                <input type="text" name="name" placeholder="Anonymous"><br>
                                Title:<br>
                                <input type="text" name="title" placeholder="A Fairly Okayish Post I guess" size="50"><br>
                                <input type="text" name="content"><br>
                                <input type="submit" name="add" value="Post it!">
                            </form>

                        

        <!-- ****** POST CREATION FORM ENDS ***** -->


{% block footer1 %}
{% endblock %}

{% endblock %}