{% extends 'base.html.twig' %}
{% block title %}GroBlog - {% trans %}Connection{% endtrans %}{% endblock %}

{% block header %}
    <header class="masthead" style="background-image: url({{ asset('img/Herve.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <div class="no-white-text-">
                        {% block content %}
                            {% block fos_user_content %}{% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </header>
{% endblock %}